@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.auth-from-control {
  @apply w-11/12;
}

.parent:hover {
  .child{
    @apply w-4/5 h-4/5;
  }
}